/* Minimal reset / styles */
@layer base {
  body { margin: 0; font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
}
body {
  font-family: 'Inter', sans-serif;
}

.btn-seguir {
  background-color: #063A1C;
  color: #fff;
  font-weight: bold;
  padding: 12px 32px;
  border-radius: 9999px;
  margin-block-start: 1rem;
  transition: 0.2s;
}

.btn-seguir:hover {
  background-color: #063A1C;
}

.campo {
  inline-size: 85%;
  border: 1px solid #fff;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.campo:focus {
  border-color: #063A1C;
  box-shadow: 0 0 0 2px #4EC617;
}

.grupo-linha {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.checkbox-verde {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  accent-color:  #4EC617;
  cursor: pointer;
}

.tag {
  background-color: #fff;
  color: #063A1C;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
}

.tag-borda {
  border: 1px solid #4EC617;
  color: #4EC617;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
}

.wfull-85 {
  inline-size: 85%;
}

.span {
  color: #063A1C;
  
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  block-size: 100vh;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  overflow: hidden;
  position: relative;
}

.wave {
  position: absolute;
  inline-size: 200%;
  block-size: 200px;
  inset-inline-start: -50%;
  inset-block-start: 0;
  background: rgb(from color #063A1C);
  border-radius: 50%;
  animation: waveAnimation 6s infinite ease-in-out;
}

.wave:nth-child(2) {
  inset-block-end: 20px;
  background: rgb(from color #063A1C);
  animation-duration: 8s;
}

.wave:nth-child(3) {
  inset-block-end: 40px;
  background: rgb(from color #063A1C);
  animation-duration: 10s;
}

@keyframes waveAnimation {
  0%, 100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  50% {
    transform: translateX(-25%) translateY(10px) rotate(5deg);
  }
}

